html{
    height: 100%;
}

body{
    margin: 0;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    background: url(../images/128749_orig.jpg) no-repeat 50%/cover;
}

plane-element {
    width: 200px;
    height: 85px;
}

